.container-gallery {
  min-height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.block-n {
  /* width: 100vw; */
  max-width: 1450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  background: #fff;
  max-width: 600px;
  width: 600px;
  height: auto;
  margin: 20px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  border-radius: 10px;
  overflow: hidden;
}

.card-image {
  width: auto;
  margin: auto;
}

.card-image img {
  max-width: 100%;
  max-height: 500px;
  height: auto;
}

.card-info {
  position: relative;
  color: #222;
  padding: 10px 20px 20px;
}

.card-info h3 {
  font-size: 1.8em;
  font-weight: 800;
  margin-bottom: 5px;
}

.card-info p {
  font-size: 1em;
  margin-bottom: 5px;
}

.pagination {
  display: block;
  text-align: center;
  margin: 30px 30px 60px;
  user-select: none;
}

.pagination li {
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a {
  color: #333;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 45px;
}

.previous-page,
.next-page {
  background: #0ab1ce;
  width: 80px;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}

.previous-page:hover {
  transform: translateX(-5px);
}

.next-page:hover {
  transform: translateX(5px);
}

.current-page,
.dots {
  background: #ccc;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background: #0ab1ce;
}

.disable {
  background: #ccc;
}

.events-block {
  width: 1200px;
  max-width: 90%;
  margin: 50px auto;
  border: 1px solid rgb(238, 96, 14);
  padding: 50px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 10%);
  text-align: left;
}

.events-block h1 {
  text-align: center;
  text-decoration: underline;
  color: #fd7e14;
  font-size: 32px;
  margin: 0 0 50px 0;
}

.events-block .para-events {
  font-size: 22px;
}

.events-block p ul {
  list-style-type: lower-roman;
  padding: 20px 0;
}

.events-block img {
  width: 80%;
  display: block;
  margin: 30px auto;
}

.events-block a {
  padding: 20px;
  background: rgb(255, 91, 15);
  color: white !important;
  width: 80%;
  margin: auto;
  box-shadow: 10px 10px 20px #666;
  font-weight: 600;
  font-size: 24px;
}
